
@{
    ViewBag.Title = "_LeftBanner";
}

<div class="col-xs-12 col-md-4 col-lg-4 homenews">
    <img src="~/Content/images/right-banner.png"/>
    <img src="~/Content/images/right-banner2.png"/>
</div>
