@model List<DataAccess.New>
@{

}

<div class="col-xs-12 col-md-4 col-lg-4 homenews">
    <figure>
        <h2><a href="">Các bài viết</a></h2>
        <a href="/blog" class="more">Đọc thêm</a>
    </figure>
    <ul>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var i in Model)
            {
                <li>
                    <a href="/blog/@i.NameCode" title="@i.Name">
                        <h3>@i.Name</h3>
                    </a>
                </li>
            }
        }
    </ul>
</div>