.product-details{
	background: #F5F5F5;
	padding-top: 20px;
}
.product-details .margin-top {margin-top: 30px;}
.product-details .list-text {
	padding: 2% 2% 2% 2%;
}
.product-details .list-text > h5 del {font-size: 18px;}
.product-details .list-text > h5,.product-details .list-text > h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top:10px;
}
.s-shoose h5 {
	font-size: 14px;
    width: 93px;
    margin: 0;
    display: inline-block;
    font-weight: bold;
}
.s-shoose  .size-drop{
	display: inline-block;
    vertical-align: middle;
}
.all-choose .color-select,.size-drop .dropdown-menu {padding: 0;}
.all-choose .color-select span {
	height: 15px;
	margin-right: 9px;
	width: 15px;
}
.s-shoose {
    margin-bottom: 5px;
    padding: 3px 0;
}
.product-details .plus-minus-box {
	border: 0 none;
	position: relative;
	text-align: center;
	top: -3px;
	width: 40px;
}
.product-details .plus-minus {
    overflow: hidden;
    text-align: center;
    width: 90px;
    display: inline-block;
    vertical-align: middle;
}
.product-details .dec.qtybutton {
    font-size: 24px;
    line-height: 25px;
    cursor: pointer;
}
.product-details .inc.qtybutton {font-size: 20px;
cursor: pointer;
}
.product-details.qtybutton {cursor: pointer;}
.product-details .list-btn {margin: 10px 0;}
.size-drop .btn {
	background: transparent none repeat scroll 0 0;
	border-radius: 0;
	font-size: 13px;
	line-height: 25px;
	margin-bottom: 0;
	margin-right: 5px;
	padding: 0 10px;
	font-weight:700;
	width: 60px;
}
.size-drop .dropdown-menu {
	border-radius: 0;
	font-size: 13px;
	margin: -1px 0;
	min-width: 90px;
}
.size-drop .dropdown-menu ,.size-drop .btn,.product-details .plus-minus ,.size-drop .btn.dropdown-toggle{
	border: 1px solid #ccc;
}
.size-drop .dropdown-menu > li > a {padding: 2px 10px;}
.size-drop .dropdown-menu > li {float: none;}
.size-drop .btn.dropdown-toggle {
	font-size: 20px;
	height: 27px;
	line-height: 27px;
	padding: 0 !important;
	width: 27px;
}
.btn-group.open .dropdown-toggle ,.size-drop .dropdown-menu {
  box-shadow:none;
}
.single-quick-image {margin-bottom: 20px;}
.quick-thumb li {
    margin: 0 2% 2% 0%;
    width: 22.92%;
    float: left;
}

.quick-thumb li:last-child {margin: 0;}
.quick-thumb li.active {
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.25);
}
/* reviews tab */
.reviews-tab a {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 3px;
    text-transform: capitalize;
    text-decoration: none;
}
.reviews-tab > li {margin-right: 60px;}
.reviews-tab {margin-bottom: 40px;}
.reviews-tab li.active a {
    border-bottom: 2px solid #fe5858;
}
.info-reviews .author-des > span {margin-bottom: 10px;}
.info-reviews hr {margin: 30px 0;}
.your-rating {margin-top: 60px;}
.your-rating .rating {margin-bottom: 30px;}
.your-rating .rating li span {padding: 0 10px;}
.input-mail > input, .product-details .custom-mess textarea {
    border: 1px solid #ccc;
    margin-bottom: 15px;
	line-height:35px;
}
.product-details .custom-mess textarea ,#googleMap{width: 100%;}

.quick-right{
	background: #fff;
}
.list-btn a {
    display: inline-block;
    font-size: 14px;
    line-height: 35px;
    padding: 0 30px;
    margin-right: 7px;
    text-decoration: none;
    color: #fff;
    background: #7bafea;
    border: 1px solid #7bafea;
}
.list-btn a:hover{
	background: #f7a56e;
	border: 1px solid #f7a56e;
}
.list-btn .add-cart{
	background: #fe5858;
	border: 1px solid #fe5858;
}
.title{
	font-size: 14px;
    font-weight: 700;
    padding-bottom: 3px;
    text-transform: capitalize;
    text-decoration: none;
    border-bottom: 2px solid #fe5858;
    display: inline-block;
    color: #337ab7
}

.lst-sample ul{
 	padding: 40px 0;
}
.lst-sample ul li a{
    width:95%;
    display: block;
    overflow: hidden;

}
.lst-sample h4{
    font-size:16px;
}
.mdi {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.mdi-chevron-down:before {
    content: "\21B4";
}

.quick-image{
    padding-right: 12px;
    margin: auto;
}
.product-details .price{
    padding-bottom:0px;
}

.box-request{
    background:#fff;
    margin-top:12px;
    padding: 0 10px;
}
.box-request h3{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
.box-request input{
    width:95%;
}
.box-request textarea{
    width:98%;
    margin-top: 20px;
    border-radius: 4px;
}
.box-request button{
    margin: 18px 0;
}
.box-request .lblerr{
    font-size:12px;
    color: red;
    font-weight: bold;
}


