h3.heading-line {
    font-size:22px;
    font-weight:bold;
    text-transform:uppercase;
    color: #4caac9;
}
.text-intro p{
    font-size:17px;
}
.b-map {
    margin-top: 30px;
    margin-bottom: 20px;
}

.b-contact-info ul li {
    margin-bottom: 16px;
}

.b-contact-info ul li:last-child {
    margin-bottom: 0;
}

.b-contact-info ul li span {
    display: inline-block;
    vertical-align:top;
    font-size:18px;
}

.b-contact-info .info-title {
    font-weight: bold;
    text-transform: uppercase;
    min-width: 145px;
}

.b-contact-info .info-title i {
    padding-right: 15px;
    font-size: 13px;
}

.b-contact-info .info-text {
    margin-left: 5px;
    width:60%;
}
.b-contact-info .info-title i {
    padding-right: 15px;
    font-size: 13px;
}
.b-contact-info .info-title i {
    color: #e24545;
}
.menu{
    border-bottom: 1px solid #c3c3c3;
}
.text-intro{
    width:95%;
}