@using HidoSport.Helpers
@using System.Configuration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CssPath{
    <style>
        @Html.Raw(ViewHelper.GetCss("css/checkout",false))
    </style>
}
@section JsPath{
    <script type="text/javascript" src="~/scripts/checkout@(ConfigurationManager.AppSettings["Minify"]).js" async defer></script>
}
<div class="container">
    <div class="loading">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-3">
                <div class="loader"></div>
            </div>
            <div class="col-lg-8 col-sm-8 col-xs-8 text">
                Đang tải dữ liệu ...
            </div>
        </div>
    </div>
    <p class="no-card" style="display:none">Không có sản phẩm trong giỏ hàng</p>
    <table id="cart" class="table table-hover table-condensed" style="display:none">
        <thead>
            <tr>
                <th style="width:42%">Sản phẩm</th>
                <th style="width:10%">Giá bán</th>
                <th style="width:8%">Số lượng</th>
                <th style="width:8%" class="text-center">Size</th>
                <th style="width:22%" class="text-center">Tổng cộng</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive" /></div>
                        <div class="col-sm-10">
                            <h4 class="nomargin">Product 1</h4>
                            <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price">$1.99</td>
                <td data-th="Quantity">
                    <input type="number" class="form-control text-center" value="1">
                </td>
                <td data-th="Subtotal" class="text-center">1.99</td>
                <td class="actions" data-th="">
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="visible-xs">
                <td class="text-center"><strong>Tổng cộng 1.99</strong></td>
            </tr>
            <tr>
                <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua sắm</a></td>
                <td colspan="4" class="hidden-xs"></td>
                @*<td class="hidden-xs text-center"><strong>Tổng cộng <b id="totalCurrency"></b></strong></td>*@
                <td><a href="/thanh-toan" class="btn btn-success btn-block">Thanh toán <i class="fa fa-angle-right"></i></a></td>
            </tr>
        </tfoot>
    </table>
    <input type="hidden" id="totalPrice" value="" />
</div>
